{# templates/task/_form.html.twig #}
{{ form_start(form) }}
    <div class="card">
        <div class="card-header">
            <h1 class="h4 my-0">{{ 'New'|trans({}, 'label') }}</h1>
        </div>
        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <div class="row">
                <div class="col-12 col-lg-4">
                    {{ form_row(form.done) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ form_row(form.createdAt) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ form_row(form.updatedAt) }}
                </div>
            </div>
        </div>
        <div class="card-footer bg-primary-subtle bg-gradient text-end">
            <button type="submit" class="btn btn-primary bg-gradient btn-sm">{{ 'btn.save'|trans({}, 'label') }}</button>
            <button type="reset" class="btn btn-secondary bg-gradient btn-sm">{{ 'btn.reset'|trans({}, 'label') }}</button>
        </div>
    </div>
{{ form_end(form) }}