{# templates/task/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: List tasks{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-list-task"></i> {{ 'List tasks'|trans({}, 'label') }}</li>
    {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div><h1 class="h4">{{ 'List tasks'|trans({}, 'label') }}</h1></div>
                <div><a href="#" class="btn btn-primary btn-sm"><i class="bi bi-clipboard2-plus"></i> {{ 'btn.new'|trans({}, 'label') }}</a></div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th scope="col">
                                {{ 'name'|trans({}, 'label') }}
                            </th>
                            <th scope="col">
                                {{ 'updated'|trans({}, 'label') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr id="{{ task.id }}">
                                <td>
                                    <i class="bi bi-journal"></i> {{ task.name }}
                                </td>
                                <td class="text-end">
                                    {{ task.updatedAt|default(task.createdAt)|format_datetime('short', 'short', timezone='America/Sao_Paulo', locale=app.request.locale|replace({'_': '-'})) }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2" class="text-center">{{ 'no record found'|trans }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-body-secondary text-center">
            Pagination
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
{% endblock %}
