{# templates/_menu.html.twig #}
<div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ms-auto">
        {% if is_granted('IS_AUTHENTICATED') %}
            <li class="nav-item">
                <a class="nav-link menu" href="{{ path('app_task_new') }}"><i class="bi bi-clipboard2-plus"></i> {{ 'btn.new'|trans({}, 'label') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu" href="{{ path('app_task_search') }}"><i class="bi bi-funnel"></i> {{ 'btn.search'|trans({}, 'label') }}</a>
            </li>        
            <li class="nav-item">
                <a class="nav-link menu" href="#"><i class="bi bi-pin"></i> {{ 'pendencies'|trans({}, 'label') }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-badge"></i> {{ app.user.name }}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item menu" href="#"><i class="bi bi-key"></i> {{ 'password_reset'|trans({}, 'label') }}</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link menu" href="{{ path('app_logout') }}"><i class="bi bi-door-open"></i> {{ 'btn.logout'|trans({}, 'label') }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link menu" href="{{ path('app_login') }}"><i class="bi bi-door-closed"></i> {{ 'btn.login'|trans({}, 'label') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu" href="#"><i class="bi bi-person-plus"></i> {{ 'register'|trans({}, 'label') }}</a>
            </li>
        {% endif %}
    </ul>
</div>